
@{
    ViewBag.Title = "Education";
}
<a href="Index">Index</a>
<a href="PersonalBackground">Personal Background</a>
<a href="Education">Education</a>
<a href="Project">Project</a>
<a href="Reference">Reference</a>

<br />
<br />
<ul>
    <li>Secondary School Certificate (SSC), 2015</li>
    <ul>
        <li>Nilphamari Govt. High School</li>
    </ul>
    <li>Higher Secondary Certificate (HSC), 2017</li>
    <ul>
        <li>Nilphamari Govt. College</li>
    </ul>
    <li>BSc in Computer Science Engineering, Present</li>
    <ul>
        <li>American International University, Bangladesh</li>
    </ul>
</ul>

