
@{
    ViewBag.Title = "Index";
}
<a href="Index">Index</a>
<a href="PersonalBackground">Personal Background</a>
<a href="Education">Education</a>
<a href="Project">Project</a>
<a href="Reference">Reference</a>
<br />
<br />
<p>Name: Ayon Roy</p>
<p>ID: 18-38655-3</p>
<p>Email: ayon.roy256@gmail.com</p>

