
@{
    ViewBag.Title = "PersonalBackground";
}
<a href="Index">Index</a>
<a href="PersonalBackground">Personal Background</a>
<a href="Education">Education</a>
<a href="Project">Project</a>
<a href="Reference">Reference</a>

<br />
<br />
<table>
    <tr>
        <td>Mother Name</td>
        <td>Shilpi Rani Roy</td>
    </tr>
    <tr>
        <td>Father Name </td>
        <td>Herambo Kumar Roy</td>
    </tr>
    <tr>
        <td>Sister Name </td>
        <td>Pronoti Roy</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>Progoti Para, Nilphamari</td>
    </tr>
    <tr>
        <td>Phone Number </td>
        <td>01783238505</td>
    </tr>
</table>


