
@{
    ViewBag.Title = "Project";
}
<a href="Index">Index</a>
<a href="PersonalBackground">Personal Background</a>
<a href="Education">Education</a>
<a href="Project">Project</a>
<a href="Reference">Reference</a>


<h2>Banking Application</h2>
<p>Java Based Console application</p>
<p>Group Project</p>
<br />
<h2>Courier Management System</h2>
<p>C# based desktop application</p>
<p>Group Project</p>
<br />
<h2>E-Book Store</h2>
<p>Php,HTML,CSS,JS based Website</p>
<p>Group Project</p>
<br />
<h2>Bachelor’s Housing Management</h2>
<p>Laravel,React based Website</p>
<p>Group Project</p>



