
@{
    ViewBag.Title = "Reference";
}
<a href="Index">Index</a>
<a href="PersonalBackground">Personal Background</a>
<a href="Education">Education</a>
<a href="Project">Project</a>
<a href="Reference">Reference</a>
<br />
<br />
<h2>S.M. Abdur Rouf Bhuiyan</h2>
<p>Assistant Professor, Department of Computer Science<br />
 American International University-Bangladesh<br />
 E-mail: arouf@aiub.edu<br />
 Cell: 01720-995443</p>

